*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

header{
    width: 100%;
}
body{
    width: 80%;
    margin: auto;
    height: 100vh;
}
.first-section{
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 20px;
    background-image: url(../img/banner.jpg);
    background-position: right;
    background-size: cover;
    border-radius: 20px;
}
.second-section{
    margin-top: 20px;
}
.top{
    width: 100%;
}
.left{
    height: calc(80% - 40px);
    margin-bottom: 20px;
    width: 25%;
    float: left;
    margin-top: 20px;
}
.mid{
    width: calc(50% - 20px);
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.right{
    width:25%;
    height: calc(80% - 40px);
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo{
    height: 100px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: rgb(172, 172, 172);
}
li{
    display: inline-block;
    margin-right: 10px;
}
li:hover{
    padding:0 10px;
}
.overlay{
    position: absolute;
    right: 0;
    top: 0;
    left: 0%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.text{
    width: 55%;
    position: absolute;
    z-index: 10;
    color: rgb(255, 255, 255);
    bottom: 100px;
    left: 50px;
}
.text h5{
    font-size: 2em;
    font-weight: 300;
}
.top div span{
    color: rgb(172, 172, 172);
}
.top div{
    padding:20px 0;
}
.top div h2{
    font-size: 2em;
}
.bg-img1{
    background-image: url(../img/img-1.jpg);
    height: 300px;
    background-size: cover;
    position: relative;
    border-radius: 20px;
}
.left p,
.mid p,
.right p{
    color: rgb(172, 172, 172);
}
.left h5,
.mid h5,
.right h5{
    margin: 15px 0;
}
.bg-img2{
    background-image: url(../img/banner-2.jpg);
    height: 300px;
    position: relative;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.bg-img3{
    background-image: url(../img/img-3.jpg);
    height: 300px;
    position: relative;
    border-radius: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#heart{
    color:red;
    display: inline-block;
}
footer{
    text-align: center;
    margin-top: 30px;
}